<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ASCOM.Platform" version="6.5.1" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.9.1" targetFramework="net472" />
  <package id="MathNet.Spatial" version="0.6.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="Nito.AsyncEx" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Context" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Oop" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net472" />
  <package id="Nito.Cancellation" version="1.1.2" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.1.1" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.2.1" targetFramework="net472" />
  <package id="PostSharp" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Caching" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Caching.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Xaml.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.10.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="ToggleSwitch" version="1.2.0" targetFramework="net472" />
</packages>